.todolist_header {
    display: flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.spanCounter {
    display: flex;
    padding: 2px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 999px;
    background: var(--Gray-400, #333);
    color: theme('colors.gray-100');
    margin-left: 5px;
}

.todolist_box {
    display: flex;
    padding: 16px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-400, #333);
    background: var(--Gray-500, #262626);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 15px;
}

.todolist_box div {
    display: flex;
    align-items: center;
}
